/* base*/
@import './base/reset.css';
@import './base/layout.css';
@import './base/variables.css';

/* 3rd party */
@import './3-rd-party/font-awesome.min.css';

/* components*/
@import './components/button.css';
@import './components/clock.css';
@import './components/form.css';
@import './components/mouse.css';
@import './components/progress-bar.css';

/* CUSTOM STYLE BELOW THIS COMMENT */

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}
.container.hero {
  padding-bottom: 25px;
}
footer.container {
  padding-top: 0;
}

/* HERO SECTION */
.container.hero {
  padding-bottom: 25px;
  background-image: url('../img/hero-background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}
.hero > .row-small {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}
.logo {
  height: 40px;
  width: 200px;
  object-fit: contain;
  object-position: center;
}
.main-title {
  font-size: 70px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--color-dark);
}
.main-description {
  font-size: 20px;
  color: var(--color-grey);
}

@media (max-width: 280px) {
  .main-title {
    font-size: 50px;
    padding: 0 20px;
  }
}
/*MAIN CONTAINER*/
main > .row-big > div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section-title {
  text-transform: uppercase;
  line-height: 24px;
  font-weight: bold;
}
.description-section {
  color: var(--color-grey);
  font-size: 18px;
  line-height: 20px;
}
.description-section > a {
  color: var(--color-secondary);
  text-decoration: none;
}
.progres-bar {
  padding: 5px;
  color: var(--color-grey);
}
.progres-bar > div {
  line-height: 24px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--color-grey);
}
/*FOOTER CONTAINER*/
footer.container {
  padding-top: 0;
}

.socials {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px;
  border-bottom: 1px solid var(--color-light);
}
.socials .fa {
  color: var(--color-light);
  width: 40px;
  height: 40px;
  font-size: 24px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  border-radius: 50%;
  transition: all 0.5s;
}
.socials .fa:hover {
  background-color: var(--color-light);
  color: var(--color-primary);
}
.row-small {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  line-height: 30px;
  color: #fff8;
}
footer a {
  text-decoration: none;
  color: #fff;
}
.bottom-logo {
  margin: 30px 0;
  width: 200px;
  object-position: center;
}
.bottom-links {
  display: flex;
  gap: 30px;
  text-transform: capitalize;
}
@media (max-width: 640px) {
  .bottom-links {
    flex-direction: column;
    text-align: center;
  }
}
.bottom-links > div {
  position: relative;
}
.bottom-links > div::before {
  display: inline-block;
  content: '';
  width: 3px;
  height: 15px;
  background-color: #fff8;
  position: absolute;
  left: -17px;
  transform: translateY(50%);
}
.bottom-links > div:first-child:before {
  display: none;
}

@media (max-width: 640px) {
  .bottom-links > div::before {
    display: none;
  }
}
.bottom-description {
  text-align: center;
}
