.container {
  display: inline-block;
  width: 100%;
  padding: 60px 0;
}

.row-small {
  display: inline-block;
  width: 600px;
  margin: 0 calc(50% - 300px);
}
.row-big {
  display: inline-block;
  width: 1000px;
  margin: 0 calc(50% - 500px);
}
.left-column {
  display: inline-block;
  width: 50%;
  float: left;
}
.right-column {
  display: inline-block;
  width: 40%;
  float: right;
}

@media (max-width: 1100px) {
  .row-big {
    width: 800px;
    margin: 0 calc(50% - 400px);
  }
}
@media (max-width: 900px) {
  .row-big {
    width: 600px;
    margin: 0 calc(50% - 300px);
  }
  .left-column {
    display: inline-block;
    width: 100%;
  }
  .right-column {
    display: inline-block;
    width: 100%;
    margin-top: 50px;
  }
}
@media (max-width: 640px) {
  .container {
    width: 100%;
    padding: 50px 20px;
  }
  .row-small {
    width: 100%;
    margin: 0;
  }
  .row-big {
    width: 100%;
    margin: 0;
  }
}
