button {
  margin: auto;
  padding: 5px;
  line-height: 30px;
  font-size: 18px;
  background-color: var(--color-secondary);
  color: #fff;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 8px #0001;
}
button:hover {
  box-shadow: 0 2px 8px #0004;
}

.message-button {
  display: inline-block;
  float: right;
  margin-top: 40px;
  padding-left: 25px;
  padding-right: 25px;
}
.subscribe-button {
  width: auto;
  padding-left: 30px;
  padding-right: 30px;
}
