button {
  margin: auto;
  width: 135px;
  padding: 5px;
  line-height: 30px;
  font-size: 18px;
  background-color: var(--color-secondary);
  color: #fff;
  text-transform: capitalize;
  border: none;
}
.msgb {
  position: relative;
}
.message-button {
  right: 0;
  position: absolute;
}
.subscribe-button {
  width: auto;
  padding-left: 30px;
  padding-right: 30px;
}
