.clock{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px 0;
    color: var(--color-light);
    font-size: 18px;
    text-transform: uppercase;
    
}
.clock > .time{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}
.clock > .time > .value{
    font-size: 70px;
    line-height: 1em;
    font-weight: bold;
}

@media (max-width: 560px) {
    .clock > .time {
      width: 50%;
    }
  }