form {
  display: inline-block;
  width: 100%;
}
form input {
  font-size: 18px;
  line-height: 40px;
  width: 48%;
  border: none;
  border-bottom: solid var(--color-grey) 1px;
}
form > .email {
  margin-left: 12px;
}
form .message {
  margin-top: 10px;
  width: 100%;
  font-size: 18px;
  line-height: 24px;
  border: none;
  border-bottom: solid var(--color-grey) 0.5px;
}
.subscribe-form > input {
  display: inline-block;
  width: 90%;
  border-bottom: solid #fff8 2px;
  background-color: rgba(255, 0, 0, 0);
}
.subscribe-form > input::placeholder {
  color: #fff8;
  font-style: italic;
}
@media (max-width: 640px) {
  form {
    width: 100%;
  }
}
