.mouse {
  width: 25px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 25px;
  position: relative;
}
.dot {
  width: 5px;
  height: 8px;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  left: calc(50% - 2.5px);
  top: 5px;
  animation: scroll;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  100% {
    margin-top: 35px;
    opacity: 0;
  }
}
