.progress-bar {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.progress-bar > div {
  display: flex;
  line-height: 30px;
}
.progess-text {
  display: flex;
  justify-content: space-between;
  color: var(--color-grey);
}
.line {
  display: inline-block;
  width: 100%;
  height: 5px;
  background-color: #eee;
}
.linebar {
  display: inline-block;
  height: 5px;
}
.progress-bar .animatedbar {
  display: inline-block;
  width: 0;
  height: 100%;
  background-color: var(--color-primary);
  /* animation: barloading; */
  animation-duration: 3s;
}

@keyframes barloading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.progress-bar.loading .animatedbar {
  animation-name: barloading;
  animation-fill-mode: forwards;
}
