/*Static CSS for progress bar*/
.progress-bar {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.progress-bar > div {
  display: flex;
  flex-direction: column;
  line-height: 30px;
}
.progess-text {
  display: flex;
  justify-content: space-between;
  color: var(--color-grey);
}
.line {
  display: inline-block;
  width: 100%;
  height: 5px;
  background-color: var(--color-grey);
}
.linebar {
  display: inline-block;
  height: 5px;
  background-color: var(--color-primary);
}
.uxdesign .linebar {
  width: 90%;
}
.webdesing .linebar {
  width: 86%;
}
.webdev .linebar {
  width: 86%;
}
